{%extends 'master.html'%}
{% block mycontent%}
<div class="post">
	<h2 class="title"><a href="#">Register </a></h2>
	<div style="clear: both;">
      &nbsp;
    </div>
	<div class="entry">
    <b> <h3 style="text-align:center;">Welcome to my Registration Page
	
	
 <form>  
	  <form action="/action_page.php">
      <fieldset>
	         <h5 style="color:black;">
             <legend>Personalia:</legend>
			 <br>
             <label for="fname">First name:</label><br>
             <input type="text" id="fname" name="fname" value="">
			 <br>
             <label for="lname">Last name:</label>
			 <br>
             <input type="text" id="lname" name="lname" value="">
			 <br><br>
             <input type="submit" value="Submit">
      </fieldset>
 </form>

</body>
</html>
	</div>
			
</div>
{%endblock%}